parameters:
    database_host: 10.0.0.32
    database_port: 3306
    database_name: zasoby
    database_user: system
    database_password: system
    mailer_transport: gmail
    mailer_host: smtp.gmail.com
    mailer_user: uzytkownik
    mailer_password: haslo
    mailer_encryption: ssl
    mailer_auth_mode: login
    nadawca_emailow: adres_email_nadawcy
    odbiorca_emailow: odbiorca_emailow
    secret: ThisTokenIsNotSoSecretChangeIt
    katalog_do_zapisu_plikow: /var/www/api_zasoby/var/upload/
    katalog_do_zapisu_plikow_tymczasowych: /var/www/api_zasoby/var/upload_tmp/
    maksymalny_rozmiar_pliku_w_megabajtach: 14
    maksymalny_rozmiar_kolekcji_plikow_w_megabajtach: 14
    produkcja: false
    queue_host: localhost
    queue_port: 5672
    queue_user: guest
    queue_password: guest
    queue_vhost: api